<h1>Agrega una Tarea</h1>

<form action="/tareas/new" method="POST">
  <div class="form-group">
    <input type="text" class ="form-control" placeholder="Tarea" name="title">
  </div>
  <button type="submit" class="btn btn-dark">Post</button>
</form>